# Отчет о тестировании Credit Card Number Validator

## Краткое описание

Дата проведения: 14.01.2021

Было проведено функциональное тестирование приложения Credit Card Number Validator

На тестирование было затрачено: 1 час

В результате тестирования были выявлены следующие дефекты:
1. https://github.com/redzhina/java1-2/issues/1
2. https://github.com/redzhina/java1-2/issues/2
3. https://github.com/redzhina/java1-2/issues/3

## Описание процесса тестирования

В процессе тестирования использовались следующие артефакты: баг-репорты (см.выше)

В качестве тестовых данных использовались:
Руководство по установке IntelliJ IDEA: https://github.com/netology-code/javaqa-homeworks/blob/master/intro/idea.md

Тестирование производилось в следующем окружении:

Windows 10 x64

Java 11
